body {
    font-family: sutonnyOMJ,NikoshBANDigit,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.infos.infos {
    * {
        font-size: 0.95em;
    }

    .name {
        font-weight: bolder;
        font-size: 1.6em;
    }
}

.icon {
    font-family: icomoon;
    text-decoration: none;
    color: unset;

    &.menu:before {
        content: "\e9e1";
    }

    &.message:before {
        content: "\e9e2";
    }

    &.phone:before {
        content: "\eb00";
    }

    &.facebook:before {
        content: "\ec4e";
    }

    &.whatsapp:before {
        content: "\ec50";
    }
    &.email:before {
        content: "\e9db";
    }
}

@font-face {
    font-family: sutonnyOMJ;
    src: url("./../fonts/SUTONNYOMJ.TTF") format('truetype');
    /* todo: font unicode vals */
}
@font-face {
    font-family: NikoshBANDigit;
    src: url("./../fonts/NikoshBAN.ttf") format('truetype');
    /* todo: font unicode vals */
}

@font-face {
    font-family: "icomoon";
    src:
        url("./../fonts/icomoon.ttf?1oniuf") format('truetype'),
        url('./../fonts/icomoon.svg?1oniuf#icomoon') format('svg');
    src:
        /* url("./../fonts/icomoon.ttf?1oniuf") format('truetype'), */
        url('./../fonts/icomoon.svg?1oniuf#icomoon') format('svg');
    /* todo: font unicode vals */
}