{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Your Site Title{% endblock title %}</title>
    
    {% block styles %}
      <link rel="stylesheet" href="{% static 'sellspage/style/style.css' %}" />
    {% endblock styles %}
    
    {% block scripts %}
      <script src="{% static 'sellspage/script/script.js' %}" defer async></script>
    {% endblock scripts %}
    
    {% block extra_head %}
      
    {% endblock extra_head %}
      
  </head>
  <body>
    <nav class="navbar">
        <!-- Extend navbar.html here -->
        {% comment %} todo {% include 'navbar.html' %} {% endcomment %}
    </nav>
    <div id="main" class="main">
        {% block main %}
          <!-- Main content goes here -->
        {% endblock main %}
    </div>
    {% block extra_script %}
    <!-- This block allows additional scripts in child templates -->
    {% endblock extra_script %}
  </body>
</html>
