{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Your Site Title{% endblock title %}</title>
    
    {% block styles %}
      <link rel="stylesheet" href="{% static 'sellspage/style/style.css' %}" />
    {% endblock styles %}
    
    {% block scripts %}
      <script src="{% static 'sellspage/script/script.js' %}" defer async></script>
    {% endblock scripts %}
    
    {% block extra_head %}
      
    {% endblock extra_head %}
      
  </head>
  <body>
    <div class="navbar" id="navbar">
        <!-- Extend navbar.html here -->
        {% comment %} todo : {% include 'sellspage/navbar.html' %} {% endcomment %}
        {% include 'sellspage/navbar.html' %}
    </div>
    <div id="main" class="main">
        {% block main %}
          <!-- Main content goes here -->
        {% endblock main %}
        {% block content %}
          <!-- content content goes here -->
        {% endblock content %}
    </div>
    {% block extra_script %}
    <!-- This block allows additional scripts in child templates -->
    {% endblock extra_script %}
    <script>
      // todo : can be add a loader
      document.body.style.opacity = 0
      window.addEventListener("load", () => {
        document.body.style.opacity = 1
      })
      {% if messages %}
        {% for mess in messages %}
        alert("{{ mess | escapejs }}");
        {% endfor %}  
      {% endif %}

  </script>
  </body>
</html>
