{% extends "sellspage/layout.html" %} 
{% load static %}   


{% block title %}Profile{% endblock title %} 
{% block main %}
<div id="main" class="main" page="profile">
  <div class="profileData">
    <img
      class="shadow cover"
      src="{% static 'sellspage/images/cover.png' %}"
      alt="cover photo"
      width="100%"
    />
    <div class="infos">
      <img
        class="profile shadow"
        src="{% static 'sellspage/images/profile.png' %}"
        alt="profile"
      />
      <div class="infos">
        <div class="name">{{ user.full_name }}</div>

        <div class="title">{{ user.title }}</div>
        <hr />
        <div class="phone">{{ user.phone }}</div>
        <div class="location">{{ user.location }}</div>
        <hr />
        <div class="bio">{{ user.bio }}</div>
      </div>
      <hr />
    </div>
    <hr />
    {% if isThisPageUser %}
    <div class="edit_btn">
      <a href="{% url 'sellspage:profile_edit' %}"> Edit your profile </a>
    </div>
    {% endif %}
    <div class="contracts">
      <a
      href="https://wa.me/{{ user.whatsapp }}"
      data-iconof="Whatsapp"
      class="whatsapp icon"
      target="_blank"
      ><span class="name" data-iconof="Whatsapp"></span
        ></a>
        <a
        href="{{ user.imo_link }}"
        data-iconof="Imo"
        class="imo icon whatsapp"
        target="_blank"
        ><span class="name" data-iconof="Imo"></span
      ></a>
      <a
        href="https://m.me/{{ user.messenger }}"
        data-iconof="Messenger"
        class="messenger icon message"
        target="_blank"
        ><span class="name" data-iconof="Messenger"></span
      ></a>
      <a
        href="https://facebook.com/{{ user.facebook }}"
        data-iconof="Facebook"
        class="facebook icon"
        target="_blank"
        ><span class="name" data-iconof="Facebook"></span
      ></a>
      <a
        href="tel:{{ user.phone }}"
        data-iconof="Phone"
        class="phone icon"
        target="_blank"
        ><span class="name" data-iconof="Phone"></span
      ></a>
      <a
        href="mailto:{{ user.email }}"
        data-iconof="Email"
        class="email icon"
        target="_blank"
        ><span class="name" data-iconof="Email"></span
      ></a>
    </div>
    <hr />
  </div>

  <div class="products">
    todo canbe used on produts =>{% for item in user.get_page%}{{item}}, {% endfor %}
    <h2 class="heading">Products</h2>
    {% if isThisPageUser %}
    <div class="Addprodut">
      <a href="{% url 'sellspage:add_listing_product' %}"> Add product </a>
    </div>
    {% endif %}

    {% for product in user.get_page.products%}
    <div
      class="product"
      data-product-id="{{ product.id }}"
      onclick="window.location.replace('{% url 'sellspage:product_detail' product.id %}')"
    >
      <div class="product-image">
        <img
          src="{{ product.image.url }}"
          alt="{{ product.title }} product image"
        />
      </div>
      <div class="p-infos product-container" >
        <div class="title">{{ product.title }}</div>
        <div class="price">${{ product.price }}</div>
        <div class="broghtby">{{ product.bought_by_count }} people</div>
      </div>
    </div>
    {% empty %}
    <div>No product.</div>
    {% endfor %}
  </div>
  {% endblock main %}
</div>
